BINANCE_API_KEY=XdrowcfGzM6oIhzwfdNtijUXeKfb9UqS8Nuajd3tTz2OKbu5lheGIYAcvXPbn7PX
BINANCE_API_SECRET=wlBZMfDduYgho1i4vMc2m6A0pAOf5iteG4OvobRBVhNDvmC3lnDbvhE2XZEmtii6
DATABASE_URL=sqlite:///./asple_predictor.db
PREDICTION_INTERVAL_MINUTES=240
VERIFICATION_DELAY_CANDLES=4
LOG_LEVEL=INFO
ENVIRONMENT=development
